<div class="widgets">

    <div class="row">
        <div class="col-md-12" ng-show="modalTitle === ''">

            <div class=" form-group input-group">
                <div class="col-sm-1">
                    <label class="control-label" for="kota">Kota</label>
                </div>
                <div class="col-sm-3" ng-class="{error: form1.kota.$invalid}">
                    <p class="input-group">
                    <ui-select ng-model="param.kota"
                               class="btn-group bootstrap-select form-control"
                               ng-disabled="false"
                               append-to-body="true"
                               search-enabled="true">
                        <ui-select-match placeholder="Pilih Kota">
                            {{$select.selected.nama}}
                        </ui-select-match>
                        <ui-select-choices
                            repeat="item in listKota | filter: $select.search">
                            <span ng-bind-html="item.nama"></span>
                        </ui-select-choices>
                    </ui-select>
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="param.kota = {};"><i class="glyphicon glyphicon-remove"></i></button>
                    </span>
                    </p>
                    <span style="float:right; color:white" class="help-block label label-danger" ng-show="form1.kota.$error.required">
                        Harus Diisi
                    </span>
                </div>
                <div class="col-sm-1">

                </div>
                <div class="col-sm-3">
                    <input id="search" type="text" class="col-xs-2 form-control" ng-model="param.cari" ng-keypress="$event.keyCode == 13 ? reloadData() : undefined"placeholder="Masukkan pencarian" autofocus>
                </div>
                <div class="col-sm-2">
                    <button class="btn btn-primary btn-md" ng-click="reloadData()"> Tampilkan </button>
                </div>
            </div>
            <div ba-panel ba-panel-title="Master Toko" ba-panel-class="with-scroll">
                <table class="table table-bordered table-hover table-condensed">
                    <tr>
                        <td></td>
                        <td>Nama Toko</td>
                        <td>Kota</td>
                        <td>Alamat</td>
                        <td>Kontak</td>
                        <td>Telp</td>
                        <td>
                            <button class="btn btn-info editable-table-button btn-xs" ng-click="baru()">Tambah</button>
                        </td>
                    </tr>
                    <tr ng-repeat="c in dataPage.content" class="editable-row">
                        <td>
                            {{((paging.currentPage - 1) * paging.maxSize) + $index + 1}}
                        </td>
                        <td>
                            {{ c.nama || 'empty' }}
                        </td>
                        <td>
                            {{ c.kota || 'empty' }}
                        </td>
                        <td>
                            {{ c.alamat || 'empty' }}
                        </td>
                        <td>
                            {{ c.kontak || 'empty' }}
                        </td>
                        <td>
                            {{ c.telepon || 'empty' }}
                        </td>
                        <td>
                            <div class="buttons" >
                                <button class="btn btn-primary editable-table-button btn-xs" 
                                        data-toggle="modal" ng-click="edit(c)">Edit</button>
                                <button class="btn btn-danger editable-table-button btn-xs" ng-confirm-message="Anda yakin akan menghapus data {{c.nama}}?" ng-confirm="hapus(c)">Delete</button>
                            </div>
                        </td>
                    </tr>
                </table>
                <div align="center" ng-show="dataPage.totalPages > 1">
                    <ul uib-pagination total-items="paging.totalItems" ng-model="paging.currentPage" max-size="paging.maxSize" class="pagination-sm" boundary-links="true" num-pages="numPages" ng-change="reloadData()" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></ul>
                    <pre>Page: {{paging.currentPage}} / {{paging.maxPage}}</pre>
                </div>
            </div>
        </div>
        <div class="col-md-12" ng-show="modalTitle !== ''">
            <div ba-panel ba-panel-title="{{modalTitle}}" ba-panel-class="with-scroll">
                <form class="form-horizontal" name="form1">
                    <div class="form-group">
                        <div class="col-xs-3">
                            <label class="control-label" for="nama">Nama</label>
                        </div>
                        <div class="col-sm-8" ng-class="{error: form1.nama.$invalid}">
                            <input name="nama" type="text" class="form-control" id="nama" ng-model="vm.nama" required autofocus/>
                            <span style="float:right; color:white" class="help-block label label-danger" ng-show="form1.nama.$error.required">
                                Harus Diisi
                            </span>
                            <span style="float:right; color:white" class="help-block label label-danger" ng-show="isNamaExists">
                                Nama sudah terpakai
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-3">
                            <label class="control-label" for="alamat">Alamat</label>
                        </div>
                        <div class="col-sm-8" ng-class="{error: form1.alamat.$invalid}">
                            <textarea name="alamat" rows="3" class="form-control" id="nama" ng-model="vm.alamat" required autofocus></textarea>
                            <span style="float:right; color:white" class="help-block label label-danger" ng-show="form1.alamat.$error.required">
                                Harus Diisi
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-3">
                            <label class="control-label" for="kota">Kota</label>
                        </div>
                        <div class="col-sm-8" ng-class="{error: form1.kota.$invalid}">
                            <ui-select ng-model="vm.kota"
                                       class="btn-group bootstrap-select form-control"
                                       ng-disabled="false"
                                       append-to-body="true"
                                       search-enabled="true">
                                <ui-select-match placeholder="Pilih Kota">
                                    {{$select.selected.nama}}
                                </ui-select-match>
                                <ui-select-choices
                                    repeat="item in listKota | filter: $select.search">
                                    <span ng-bind-html="item.nama"></span>
                                </ui-select-choices>
                            </ui-select>
                            <span style="float:right; color:white" class="help-block label label-danger" ng-show="form1.kota.$error.required">
                                Harus Diisi
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-3">
                            <label class="control-label" for="kontak">Kontak</label>
                        </div>
                        <div class="col-sm-8" ng-class="{error: form1.kontak.$invalid}">
                            <input name="kontak" type="text" class="form-control" id="kontak" ng-model="vm.kontak" required autofocus/>
                            <span style="float:right; color:white" class="help-block label label-danger" ng-show="form1.kontak.$error.required">
                                Harus Diisi
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-3">
                            <label class="control-label" for="telepon">Telepon</label>
                        </div>
                        <div class="col-sm-8" ng-class="{error: form1.telepon.$invalid}">
                            <input name="telepon" type="text" class="form-control" id="telepon" ng-model="vm.telepon" required autofocus/>
                            <span style="float:right; color:white" class="help-block label label-danger" ng-show="form1.telepon.$error.required">
                                Harus Diisi
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <div class="add-row-editable-table">
                                <b><i>Daftar Merk</i></b> <button class="btn btn-primary" ng-click="merkBaru()">Tambah Merk</button>
                            </div>
                            <table class="table table-bordered table-hover table-condensed">
                                <tr>
                                    <td>Merk</td>
                                    <td>Actions</td>
                                </tr>
                                <tr ng-repeat="x in vm.listMerk" class="editable-row">
                                    <td>
                                        <input name="nama" type="text" class="form-control" id="nama" ng-model="x.nama"/>
                                    </td>
                                    <td>
                                        <div class="buttons" >
                                            <button class="btn btn-danger editable-table-button btn-xs" ng-click="hapusMerk($index)">Delete</button>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-3 col-sm-9">
                            <button type="button" class="btn btn-primary" ng-click="simpan()" ng-disabled="form1.$invalid">Simpan</button>
                            <button type="button" class="btn btn-danger" ng-click="clear()">Batal</button>
                        </div>
                    </div>
                </form>                
            </div>                    
        </div>            
    </div>
</div>
</div>
