<html>
<head>
  <title></title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <style type="text/css">
    a {text-decoration: none}
  </style>
</head>
<body text="#000000" link="#000000" alink="#000000" vlink="#000000">
<table width="100%" cellpadding="0" cellspacing="0" border="0">
<tr><td width="50%">&nbsp;</td><td align="center">

<a name="JR_PAGE_ANCHOR_0_1"></a>
<table style="width: 608px; border-collapse: collapse" cellpadding="0" cellspacing="0" border="0" bgcolor="white">
<tr>
  <td><img alt="" src="bast.html_files/px" style="width: 35px; height: 1px;"/></td>
  <td><img alt="" src="bast.html_files/px" style="width: 1px; height: 1px;"/></td>
  <td><img alt="" src="bast.html_files/px" style="width: 1px; height: 1px;"/></td>
  <td><img alt="" src="bast.html_files/px" style="width: 18px; height: 1px;"/></td>
  <td><img alt="" src="bast.html_files/px" style="width: 43px; height: 1px;"/></td>
  <td><img alt="" src="bast.html_files/px" style="width: 25px; height: 1px;"/></td>
  <td><img alt="" src="bast.html_files/px" style="width: 7px; height: 1px;"/></td>
  <td><img alt="" src="bast.html_files/px" style="width: 38px; height: 1px;"/></td>
  <td><img alt="" src="bast.html_files/px" style="width: 34px; height: 1px;"/></td>
  <td><img alt="" src="bast.html_files/px" style="width: 30px; height: 1px;"/></td>
  <td><img alt="" src="bast.html_files/px" style="width: 201px; height: 1px;"/></td>
  <td><img alt="" src="bast.html_files/px" style="width: 1px; height: 1px;"/></td>
  <td><img alt="" src="bast.html_files/px" style="width: 8px; height: 1px;"/></td>
  <td><img alt="" src="bast.html_files/px" style="width: 90px; height: 1px;"/></td>
  <td><img alt="" src="bast.html_files/px" style="width: 3px; height: 1px;"/></td>
  <td><img alt="" src="bast.html_files/px" style="width: 37px; height: 1px;"/></td>
  <td><img alt="" src="bast.html_files/px" style="width: 1px; height: 1px;"/></td>
  <td><img alt="" src="bast.html_files/px" style="width: 35px; height: 1px;"/></td>
</tr>
<tr valign="top">
  <td colspan="18"><img alt="" src="bast.html_files/px" style="width: 608px; height: 42px;"/></td>
</tr>
<tr valign="top">
  <td colspan="11"><img alt="" src="bast.html_files/px" style="width: 433px; height: 18px;"/></td>
  <td colspan="4" style=" vertical-align: middle;text-align: right;"><p style="overflow: hidden; text-indent: 0px; "><span style="font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif; color: #000000; font-size: 10px; line-height: 1.1640625;">1 of </span></p></td>
  <td style=" vertical-align: middle;padding-left: 2px; "><p style="overflow: hidden; text-indent: 0px; "><span style="font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif; color: #000000; font-size: 10px; line-height: 1.1640625;">1</span></p></td>
  <td colspan="2"><img alt="" src="bast.html_files/px" style="width: 36px; height: 18px;"/></td>
</tr>
<tr valign="top">
  <td colspan="18"><img alt="" src="bast.html_files/px" style="width: 608px; height: 43px;"/></td>
</tr>
<tr valign="top">
  <td><img alt="" src="bast.html_files/px" style="width: 35px; height: 18px;"/></td>
  <td colspan="15" style=" vertical-align: middle;text-align: center;"><p style="overflow: hidden; text-indent: 0px; "><span style="font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif; color: #000000; font-size: 12px; line-height: 1.1640625; font-weight: bold;">BERITA ACARA SERAH TERIMA BARANG</span></p></td>
  <td colspan="2"><img alt="" src="bast.html_files/px" style="width: 36px; height: 18px;"/></td>
</tr>
<tr valign="top">
  <td colspan="2"><img alt="" src="bast.html_files/px" style="width: 36px; height: 18px;"/></td>
  <td colspan="15" style=" vertical-align: middle;text-align: center;"><p style="overflow: hidden; text-indent: 0px; "><span style="font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif; color: #000000; font-size: 12px; line-height: 1.1640625; font-weight: bold;">BERITA ACARA SERAH TERIMA BARANG</span></p></td>
  <td><img alt="" src="bast.html_files/px" style="width: 35px; height: 18px;"/></td>
</tr>
<tr valign="top">
  <td colspan="2"><img alt="" src="bast.html_files/px" style="width: 36px; height: 18px;"/></td>
  <td colspan="15" style=" vertical-align: middle;text-align: center;"><p style="overflow: hidden; text-indent: 0px; "><span style="font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif; color: #000000; font-size: 12px; line-height: 1.1640625; font-weight: bold;">NO. 001/BA/TPJ-MKE/VI/17</span></p></td>
  <td><img alt="" src="bast.html_files/px" style="width: 35px; height: 18px;"/></td>
</tr>
<tr valign="top">
  <td colspan="2"><img alt="" src="bast.html_files/px" style="width: 36px; height: 15px;"/></td>
  <td colspan="5"><p style="overflow: hidden; text-indent: 0px; "><span style="font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif; color: #000000; font-size: 10px; line-height: 1.1640625; font-weight: bold;">KAPAL</span></p></td>
  <td colspan="9"><p style="overflow: hidden; text-indent: 0px; "><span style="font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif; color: #000000; font-size: 10px; line-height: 1.1640625; font-weight: bold;">: KM. MARINDO BARU, Berangkat Tgl 29 Juni 2017</span></p></td>
  <td colspan="2"><img alt="" src="bast.html_files/px" style="width: 36px; height: 15px;"/></td>
</tr>
<tr valign="top">
  <td colspan="2"><img alt="" src="bast.html_files/px" style="width: 36px; height: 14px;"/></td>
  <td colspan="5"><p style="overflow: hidden; text-indent: 0px; "><span style="font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif; color: #000000; font-size: 10px; line-height: 1.1640625; font-weight: bold;">Ex. Pembongkar</span></p></td>
  <td colspan="9"><p style="overflow: hidden; text-indent: 0px; "><span style="font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif; color: #000000; font-size: 8px; line-height: 1.1640625; font-weight: bold;">: TK. BANDANG</span></p></td>
  <td colspan="2"><img alt="" src="bast.html_files/px" style="width: 36px; height: 14px;"/></td>
</tr>
<tr valign="top">
  <td colspan="2"><img alt="" src="bast.html_files/px" style="width: 36px; height: 14px;"/></td>
  <td colspan="14">
<table style="width: 536px; border-collapse: collapse" cellpadding="0" cellspacing="0" border="0">
<tr>
  <td><img alt="" src="bast.html_files/px" style="width: 94px; height: 1px;"/></td>
  <td><img alt="" src="bast.html_files/px" style="width: 442px; height: 1px;"/></td>
</tr>
<tr valign="top" style="height:14px">
  <td><p style="overflow: hidden; text-indent: 0px; "><span style="font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif; color: #000000; font-size: 10px; line-height: 1.1640625; font-weight: bold;">CONTAINER</span></p></td>
  <td><p style="overflow: hidden; text-indent: 0px; "><span style="font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif; color: #000000; font-size: 8px; line-height: 1.1640625; font-weight: bold;">: SPNU 262.386-4</span></p></td>
</tr>
</table>
</td>
  <td colspan="2"><img alt="" src="bast.html_files/px" style="width: 36px; height: 14px;"/></td>
</tr>
<tr valign="top">
  <td colspan="2"><img alt="" src="bast.html_files/px" style="width: 36px; height: 14px;"/></td>
  <td colspan="14">
<table style="width: 536px; border-collapse: collapse" cellpadding="0" cellspacing="0" border="0">
<tr>
  <td><img alt="" src="bast.html_files/px" style="width: 19px; height: 1px;"/></td>
  <td><img alt="" src="bast.html_files/px" style="width: 43px; height: 1px;"/></td>
  <td><img alt="" src="bast.html_files/px" style="width: 70px; height: 1px;"/></td>
  <td><img alt="" src="bast.html_files/px" style="width: 34px; height: 1px;"/></td>
  <td><img alt="" src="bast.html_files/px" style="width: 30px; height: 1px;"/></td>
  <td><img alt="" src="bast.html_files/px" style="width: 210px; height: 1px;"/></td>
  <td><img alt="" src="bast.html_files/px" style="width: 90px; height: 1px;"/></td>
  <td><img alt="" src="bast.html_files/px" style="width: 40px; height: 1px;"/></td>
</tr>
<tr valign="top" style="height:14px">
  <td style=" vertical-align: middle;border-top: 1px solid #000000; border-left: 1px solid #000000; border-bottom: 1px solid #000000; padding: 2px; "><p style="overflow: hidden; text-indent: 0px; "><span style="font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif; color: #000000; font-size: 8px; line-height: 1.1640625; font-weight: bold;">NO</span></p></td>
  <td style=" vertical-align: middle;border-top: 1px solid #000000; border-left: 1px solid #000000; border-bottom: 1px solid #000000; padding: 2px; "><p style="overflow: hidden; text-indent: 0px; "><span style="font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif; color: #000000; font-size: 8px; line-height: 1.1640625; font-weight: bold;">TGL </span></p></td>
  <td style=" vertical-align: middle;border-top: 1px solid #000000; border-left: 1px solid #000000; border-bottom: 1px solid #000000; padding: 2px; text-align: center;"><p style="overflow: hidden; text-indent: 0px; "><span style="font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif; color: #000000; font-size: 8px; line-height: 1.1640625; font-weight: bold;">TOKO</span></p></td>
  <td style=" vertical-align: middle;border-top: 1px solid #000000; border-left: 1px solid #000000; border-bottom: 1px solid #000000; padding: 2px; text-align: center;"><p style="overflow: hidden; text-indent: 0px; "><span style="font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif; color: #000000; font-size: 8px; line-height: 1.1640625; font-weight: bold;">CODE</span></p></td>
  <td style=" vertical-align: middle;border-top: 1px solid #000000; border-left: 1px solid #000000; border-bottom: 1px solid #000000; padding: 2px; text-align: center;"><p style="overflow: hidden; text-indent: 0px; "><span style="font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif; color: #000000; font-size: 8px; line-height: 1.1640625; font-weight: bold;">COLI</span></p></td>
  <td style=" vertical-align: middle;border-top: 1px solid #000000; border-left: 1px solid #000000; border-bottom: 1px solid #000000; padding: 2px; text-align: center;"><p style="overflow: hidden; text-indent: 0px; "><span style="font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif; color: #000000; font-size: 8px; line-height: 1.1640625; font-weight: bold;">JENIS BARANG</span></p></td>
  <td style=" vertical-align: middle;border-top: 1px solid #000000; border-left: 1px solid #000000; border-bottom: 1px solid #000000; padding: 2px; text-align: center;"><p style="overflow: hidden; text-indent: 0px; "><span style="font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif; color: #000000; font-size: 8px; line-height: 1.1640625; font-weight: bold;">UKURAN</span></p></td>
  <td style=" vertical-align: middle;border: 1px solid #000000; padding: 2px; text-align: center;"><p style="overflow: hidden; text-indent: 0px; "><span style="font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif; color: #000000; font-size: 8px; line-height: 1.1640625; font-weight: bold;">M3/Ton</span></p></td>
</tr>
</table>
</td>
  <td colspan="2"><img alt="" src="bast.html_files/px" style="width: 36px; height: 14px;"/></td>
</tr>
<tr valign="top">
  <td colspan="2"><img alt="" src="bast.html_files/px" style="width: 36px; height: 14px;"/></td>
  <td colspan="2" style="border-top: 1px solid #000000; border-left: 1px solid #000000; padding: 2px; text-align: center;"><p style="overflow: hidden; text-indent: 0px; "><span style="font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif; color: #000000; font-size: 8px; line-height: 1.1640625;">1</span></p></td>
  <td style="border-top: 1px solid #000000; border-left: 1px solid #000000; padding: 2px; text-align: center;"><p style="overflow: hidden; text-indent: 0px; "><span style="font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif; color: #000000; font-size: 8px; line-height: 1.1640625;">29-06-17</span></p></td>
  <td colspan="3" style="border-top: 1px solid #000000; border-left: 1px solid #000000; padding: 2px; text-align: center;"><p style="overflow: hidden; text-indent: 0px; "><span style="font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif; color: #000000; font-size: 8px; line-height: 1.1640625;">AME/SL</span></p></td>
  <td style="border-top: 1px solid #000000; border-left: 1px solid #000000; padding: 2px; text-align: center;"><p style="overflow: hidden; text-indent: 0px; "><span style="font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif; color: #000000; font-size: 8px; line-height: 1.1640625;">11</span></p></td>
  <td style="border-top: 1px solid #000000; border-left: 1px solid #000000; padding: 2px; text-align: center;"><p style="overflow: hidden; text-indent: 0px; "><span style="font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif; color: #000000; font-size: 8px; line-height: 1.1640625;">11</span></p></td>
  <td colspan="3" style="border-top: 1px solid #000000; border-left: 1px solid #000000; padding: 2px; "><p style="overflow: hidden; text-indent: 0px; "><span style="font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif; color: #000000; font-size: 8px; line-height: 1.1640625;">Accu Sepeda Motor</span></p></td>
  <td style="border-top: 1px solid #000000; border-left: 1px solid #000000; padding: 2px; text-align: center;"><p style="overflow: hidden; text-indent: 0px; "><span style="font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif; color: #000000; font-size: 8px; line-height: 1.1640625;">12 x 25 x 37</span></p></td>
  <td colspan="2" style="border-top: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000; padding: 2px; text-align: right;"><p style="overflow: hidden; text-indent: 0px; "><span style="font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif; color: #000000; font-size: 8px; line-height: 1.1640625;">0.122</span></p></td>
  <td colspan="2"><img alt="" src="bast.html_files/px" style="width: 36px; height: 14px;"/></td>
</tr>
<tr valign="top">
  <td colspan="2"><img alt="" src="bast.html_files/px" style="width: 36px; height: 14px;"/></td>
  <td colspan="7" style=" vertical-align: middle;border-top: 1px solid #000000; border-left: 1px solid #000000; border-bottom: 1px solid #000000; padding: 2px; text-align: center;"><p style="overflow: hidden; text-indent: 0px; "><span style="font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif; color: #000000; font-size: 8px; line-height: 1.1640625; font-weight: bold;">TOTAL</span></p></td>
  <td style="border-top: 1px solid #000000; border-left: 1px solid #000000; border-bottom: 1px solid #000000; padding: 2px; text-align: center;"><p style="overflow: hidden; text-indent: 0px; "><span style="font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif; color: #000000; font-size: 8px; line-height: 1.1640625; font-weight: bold;">11</span></p></td>
  <td colspan="4" style=" vertical-align: middle;border-top: 1px solid #000000; border-left: 1px solid #000000; border-bottom: 1px solid #000000; padding: 2px; "><p style="overflow: hidden; text-indent: 0px; "><img alt="" src="bast.html_files/px" border="0"/></p></td>
  <td colspan="2" style="border: 1px solid #000000; padding: 2px; text-align: right;"><p style="overflow: hidden; text-indent: 0px; "><span style="font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif; color: #000000; font-size: 8px; line-height: 1.1640625; font-weight: bold;">0.122</span></p></td>
  <td colspan="2"><img alt="" src="bast.html_files/px" style="width: 36px; height: 14px;"/></td>
</tr>
<tr valign="top">
  <td colspan="18"><img alt="" src="bast.html_files/px" style="width: 608px; height: 1px;"/></td>
</tr>
<tr valign="top">
  <td colspan="2"><img alt="" src="bast.html_files/px" style="width: 36px; height: 14px;"/></td>
  <td colspan="7" style=" vertical-align: middle;border-top: 1px solid #000000; border-left: 1px solid #000000; border-bottom: 1px solid #000000; padding: 2px; text-align: center;"><p style="overflow: hidden; text-indent: 0px; "><span style="font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif; color: #000000; font-size: 8px; line-height: 1.1640625; font-weight: bold;">GRAND TOTAL</span></p></td>
  <td style="border-top: 1px solid #000000; border-left: 1px solid #000000; border-bottom: 1px solid #000000; padding: 2px; text-align: center;"><p style="overflow: hidden; text-indent: 0px; "><span style="font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif; color: #000000; font-size: 8px; line-height: 1.1640625; font-weight: bold;">11</span></p></td>
  <td colspan="4" style=" vertical-align: middle;border-top: 1px solid #000000; border-left: 1px solid #000000; border-bottom: 1px solid #000000; padding: 2px; text-align: center;"><p style="overflow: hidden; text-indent: 0px; "><span style="font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif; color: #000000; font-size: 8px; line-height: 1.1640625; font-weight: bold;">1 Kontainer</span></p></td>
  <td colspan="2" style="border: 1px solid #000000; padding: 2px; text-align: right;"><p style="overflow: hidden; text-indent: 0px; "><span style="font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif; color: #000000; font-size: 8px; line-height: 1.1640625; font-weight: bold;">0.122</span></p></td>
  <td colspan="2"><img alt="" src="bast.html_files/px" style="width: 36px; height: 14px;"/></td>
</tr>
<tr valign="top">
  <td colspan="18"><img alt="" src="bast.html_files/px" style="width: 608px; height: 10px;"/></td>
</tr>
<tr valign="top">
  <td colspan="2"><img alt="" src="bast.html_files/px" style="width: 36px; height: 13px;"/></td>
  <td colspan="4" style=" vertical-align: middle;text-align: center;"><p style="overflow: hidden; text-indent: 0px; "><span style="font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif; color: #000000; font-size: 8px; line-height: 1.1640625; font-weight: bold;">Penerima,</span></p></td>
  <td colspan="6"><img alt="" src="bast.html_files/px" style="width: 311px; height: 13px;"/></td>
  <td colspan="4" style=" vertical-align: middle;text-align: center;"><p style="overflow: hidden; text-indent: 0px; "><span style="font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif; color: #000000; font-size: 8px; line-height: 1.1640625; font-weight: bold;">Pengirim:</span></p></td>
  <td colspan="2"><img alt="" src="bast.html_files/px" style="width: 36px; height: 13px;"/></td>
</tr>
<tr valign="top">
  <td colspan="18"><img alt="" src="bast.html_files/px" style="width: 608px; height: 24px;"/></td>
</tr>
<tr valign="top">
  <td colspan="12"><img alt="" src="bast.html_files/px" style="width: 434px; height: 30px;"/></td>
  <td colspan="4" style="text-align: center;"><img src="bast.html_files/img_0_0_29" style="width: 138px; height: 30px" alt=""/></td>
  <td colspan="2"><img alt="" src="bast.html_files/px" style="width: 36px; height: 30px;"/></td>
</tr>
<tr valign="top">
  <td colspan="18"><img alt="" src="bast.html_files/px" style="width: 608px; height: 1px;"/></td>
</tr>
<tr valign="top">
  <td colspan="3"><img alt="" src="bast.html_files/px" style="width: 37px; height: 13px;"/></td>
  <td colspan="3" style=" vertical-align: middle;text-align: center;"><p style="overflow: hidden; text-indent: 0px; "><span style="font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif; color: #000000; font-size: 8px; line-height: 1.1640625; font-weight: bold;">( &nbsp;................. &nbsp;)</span></p></td>
  <td colspan="6"><img alt="" src="bast.html_files/px" style="width: 311px; height: 13px;"/></td>
  <td colspan="4" style=" vertical-align: middle;text-align: center;"><p style="overflow: hidden; text-indent: 0px; "><span style="font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif; color: #000000; font-size: 8px; line-height: 1.1640625; font-weight: bold; text-decoration: underline;">Thomas C. Phoek</span></p></td>
  <td colspan="2"><img alt="" src="bast.html_files/px" style="width: 36px; height: 13px;"/></td>
</tr>
<tr valign="top">
  <td colspan="3"><img alt="" src="bast.html_files/px" style="width: 37px; height: 13px;"/></td>
  <td colspan="3" style=" vertical-align: middle;text-align: center;"><p style="overflow: hidden; text-indent: 0px; "><span style="font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif; color: #000000; font-size: 6px; line-height: 1.1640625; font-weight: bold;">Ttd/ Cap</span></p></td>
  <td colspan="12"><img alt="" src="bast.html_files/px" style="width: 485px; height: 13px;"/></td>
</tr>
<tr valign="top">
  <td colspan="18"><img alt="" src="bast.html_files/px" style="width: 608px; height: 572px;"/></td>
</tr>
</table>

<![if IE]>
<script>
var links = document.querySelectorAll('link.jrWebFont');
setTimeout(function(){ if (links) { for (var i = 0; i < links.length; i++) { links.item(i).href = links.item(i).href; } } }, 0);
</script>
<![endif]>
</td><td width="50%">&nbsp;</td></tr>
</table>
</body>
</html>
