<div class="modal-content ng-cloak" style="top:0"> 
    <div class="modal-header">
        <button type="button" class="close" ng-click="$dismiss()" aria-label="Close">
            <em class="ion-ios-close-empty sn-link-close"></em>
        </button>
        <h4 class="modal-title" id="myModalLabel">{{modalTitle}}</h4>
    </div>
    <div class="modal-body">
        <form class="form-horizontal" name="form1" id="formRate">
            <div>
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="col-xs-3">
                            <label class="control-label" for="item">Ukuran</label>
                        </div>
                        <div class="col-sm-9">
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label for="panjang">P</label>
                                    <input type="number" class="form-control" id="panjang" placeholder="Panjang" ng-model="vm.p">
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label for="lebar">L</label>
                                    <input type="number" class="form-control" id="lebar" placeholder="Lebar" ng-model="vm.l">
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label for="tinggi">T</label>
                                    <input type="number" class="form-control" id="tinggi" placeholder="Tinggi" ng-model="vm.t">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="button" class="btn btn-primary" ng-click="simpan()">Simpan</button>
                        <button type="button" class="btn btn-danger" ng-click="clear()">Batal</button>
                    </div>
                </div>
                <div class="col-md-6">
                    <table class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th rowspan="2" style="vertical-align: middle;text-align: center" class="1"> No</th>
                                <th colspan="3" style="vertical-align: middle;text-align: center">UKURAN</th>
                                <th rowspan="2"  style="vertical-align: middle;text-align: center" class="col-md-2">
                                    <button ng-show="vm.stuffing.kontainer" class="btn btn-primary" ng-click="tambahItem()">Tambah Item</button>
                                </th>
                            </tr>
                            <tr>
                                <th style="vertical-align: middle;text-align: center">P</th>
                                <th style="vertical-align: middle;text-align: center">L</th>
                                <th style="vertical-align: middle;text-align: center">T</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="c in dataPage.content" class="editable-row">
                                <td>
                                    {{$index + 1}}
                                </td>
                                <td style="text-align:right"> {{c.p| number:0 }}</td>
                                <td style="text-align:right"> {{c.l| number:0 }}</td>
                                <td style="text-align:right"> {{c.t| number:0 }}</td>
                                <td>
                                    <div class="buttons" >
                                        <button class="btn-primary btn-xs" 
                                                data-toggle="modal" ng-click="edit(c)">Edit</button>
                                        <button class="btn-danger btn-xs" ng-confirm-message="Anda yakin akan menghapus ukuran {{c.p| number:0 }} x {{c.l| number:0 }} x {{c.t| number:0 }}?" ng-confirm="hapus(c)">Delete</button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div align="center" ng-show="dataPage.totalPages > 1">
                        <ul uib-pagination total-items="paging.totalItems" ng-model="paging.currentPage" max-size="paging.maxSize" class="pagination-sm" boundary-links="true" num-pages="numPages" ng-change="reloadData()" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></ul>
                        <pre>Page: {{paging.currentPage}} / {{paging.maxPage}}</pre>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
    </div>
</div>
