<div class="widgets">

    <div class="row">
        <div class="col-md-6">
            <div class=" form-group input-group">
                <input id="search" type="text" class="col-xs-2 form-control" ng-model="search" ng-keypress="$event.keyCode == 13 ? reloadData() : undefined"placeholder="Masukkan pencarian" autofocus>
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button" ng-click="reloadData()"><i class="glyphicon glyphicon-search"></i>
                    </button>
                </span>
            </div>
            <div ba-panel ba-panel-title="Master Item" ba-panel-class="with-scroll">
                <table class="table table-bordered table-hover table-condensed">
                    <tr>
                        <td></td>
                        <td>Nama Item</td>
                        <td>
                            <button class="btn btn-info editable-table-button btn-xs" ng-click="baru()">Tambah</button>
                        </td>
                    </tr>
                    <tr ng-repeat="c in dataPage.content" class="editable-row">
                        <td>
                            {{((paging.currentPage - 1) * paging.maxSize) + $index + 1}}
                        </td>
                        <td>
                            {{ c.nama || 'empty' }}
                        </td>
                        <td>
                            <div class="buttons" >
                                <button class="btn btn-primary editable-table-button btn-xs" 
                                        data-toggle="modal" ng-click="edit(c)">Edit</button>
                                <button class="btn btn-danger editable-table-button btn-xs" ng-confirm-message="Anda yakin akan menghapus data {{c.nama}}?" ng-confirm="hapus(c)">Delete</button>
                                <button class="btn btn-list editable-table-button btn-xs" ng-click="cariUkuran(c)">Ukuran</button>
                            </div>
                        </td>
                    </tr>
                </table>
                <div align="center" ng-show="dataPage.totalPages > 1">
                    <ul uib-pagination total-items="paging.totalItems" ng-model="paging.currentPage" max-size="paging.maxSize" class="pagination-sm" boundary-links="true" num-pages="numPages" ng-change="reloadData()" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></ul>
                    <pre>Page: {{paging.currentPage}} / {{paging.maxPage}}</pre>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div ba-panel ba-panel-title="{{modalTitle}}" ba-panel-class="with-scroll">
                <form class="form-horizontal" name="form1">
                    <div class="form-group">
                        <div class="col-xs-3">
                            <label class="control-label" for="nama">Nama</label>
                        </div>
                        <div class="col-sm-8" ng-class="{error: form1.nama.$invalid}">
                            <input name="nama" type="text" class="form-control" id="nama" ng-model="vm.nama" required autofocus/>
                            <span style="float:right; color:white" class="help-block label label-danger" ng-show="form1.nama.$error.required">
                                Harus Diisi
                            </span>
                            <span style="float:right; color:white" class="help-block label label-danger" ng-show="isNamaExists">
                                Nama sudah terpakai
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-3">
                            <label class="control-label" for="jenisItem">Jenis Item</label>
                        </div>
                        <div class="col-sm-8" ng-class="{error: form1.jenisItem.$invalid}">
                            <ui-select ng-model="vm.jenisItem"
                                       class="btn-group bootstrap-select form-control"
                                       ng-disabled="false"
                                       append-to-body="true"
                                       search-enabled="true" required="true" >
                                <ui-select-match placeholder="Pilih Jenis Item">
                                    {{$select.selected.nama}}
                                </ui-select-match>
                                <ui-select-choices
                                    repeat="item in listJenisItem | filter: $select.search">
                                    <span ng-bind-html="item.nama"></span>
                                </ui-select-choices>
                            </ui-select>
                            <span style="float:right; color:white" class="help-block label label-danger" ng-show="form1.jenisItem.$error.required">
                                Harus Diisi
                            </span>
                        </div>
                    </div>                                      
                    <div class="form-group">
                        <div class="col-xs-3">
                            &nbsp;
                        </div>
                        <div class="col-sm-4 checkbox">
                            <label class="custom-checkbox">
                                <input type="checkbox" id="aktif" ng-model="vm.aktif">
                                <span>Aktif</span>
                            </label>
                        </div>
                    </div>                                      
                    <div class="form-group">
                        <div class="col-sm-offset-3 col-sm-9">
                            <button type="button" class="btn btn-primary" ng-click="simpan()" ng-disabled="form1.$invalid">Simpan</button>
                            <button type="button" class="btn btn-danger" ng-click="clear()">Batal</button>
                        </div>
                    </div>
                </form>                
            </div>                    
        </div>            
    </div>
</div>
</div>
