<div class="widgets">
    <h2>Master Item</h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-md-12">
            <div class=" form-group input-group">
                <input id="search" type="text" class="col-xs-2 form-control" ng-model="search" ng-keypress="$event.keyCode == 13 ? reloadData() : undefined"placeholder="Masukkan pencarian" autofocus>
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button" ng-click="reloadData()"><i class="glyphicon"></i>
                        Tampilkan
                    </button>
                </span>
            </div>
            <div ba-panel ba-panel-title="Master Item" ba-panel-class="with-scroll">
                <table class="table table-bordered table-hover table-condensed">
                    <tr >
                        <td style="text-align: left">Nama Item</td>
                        <td>Jenis</td>
                        <td>
                            <button class="btn btn-info editable-table-button btn-xs" ng-click="baru()">Tambah</button>
                        </td>
                    </tr>
                    <tr ng-repeat="c in dataPage.content" class="editable-row">
                        <td style="text-align: left">
                            {{ c.nama}}
                        </td>
                        <td>
                            {{ c.jenisItem.nama}}
                        </td>
                        <td class="col-md-3">
                            <div class="buttons" >
                                <button class="btn btn-primary editable-table-button btn-xs" 
                                        data-toggle="modal" ng-click="edit(c, 'app/pages/master/item/item-modal.html', 'md')">Ubah</button>
                                <button class="btn btn-danger editable-table-button btn-xs" ng-confirm-message="Anda yakin akan menghapus data {{c.nama}}?" ng-confirm="hapus(c)">Hapus</button>

                                <button class="btn btn-default editable-table-button btn-xs" ng-click="cariUkuran(c)">Ukuran</button>
                            </div>
                        </td>
                    </tr>
                </table>
                <div align="center" ng-show="dataPage.totalPages > 1">
                    <ul uib-pagination total-items="paging.totalItems" ng-model="paging.currentPage" max-size="paging.maxSize" class="pagination-sm" boundary-links="true" num-pages="numPages" ng-change="reloadData()" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></ul>
                    <pre>Page: {{paging.currentPage}} / {{paging.maxPage}}</pre>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
