<div class="widgets">

    <div class="row">
        <div class="col-md-12" ng-show="modalTitle === ''">
            <div class=" form-group input-group">
                <div class="col-sm-1">
                    <label class="control-label" for="kota">Kota</label>
                </div>
                <div class="col-sm-3" ng-class="{error: form1.kota.$invalid}">
                    <p class="input-group">
                    <ui-select ng-model="param.kota"
                               class="btn-group bootstrap-select form-control"
                               ng-disabled="false"
                               append-to-body="true"
                               search-enabled="true">
                        <ui-select-match placeholder="Pilih Kota">
                            {{$select.selected.nama}}
                        </ui-select-match>
                        <ui-select-choices
                            repeat="item in listKota | filter: $select.search">
                            <span ng-bind-html="item.nama"></span>
                        </ui-select-choices>
                    </ui-select>
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="param.kota = {};"><i class="glyphicon glyphicon-remove"></i></button>
                    </span>
                    </p>
                    <span style="float:right; color:white" class="help-block label label-danger" ng-show="form1.kota.$error.required">
                        Harus Diisi
                    </span>
                </div>
                <div class="col-sm-1">

                </div>
                <div class="col-sm-3">
                    <input id="search" type="text" class="col-xs-2 form-control" ng-model="param.cari" ng-keypress="$event.keyCode == 13 ? reloadData() : undefined"placeholder="Masukkan pencarian" autofocus>
                </div>
                <div class="col-sm-2">
                    <button class="btn btn-primary btn-md" ng-click="reloadData()"> Tampilkan </button>
                </div>
            </div>
            <div ba-panel ba-panel-title="Master EMKL" ba-panel-class="with-scroll">
                <table class="table table-bordered table-hover table-condensed">
                    <tr>
                        <td></td>
                        <td>Nama Toko</td>
                        <td>Kota</td>
                        <td>Alamat</td>
                        <td>Kontak</td>
                        <td>Telp</td>
                        <td>
                            <button class="btn btn-info editable-table-button btn-xs" ng-click="baru()">Tambah</button>
                        </td>
                    </tr>
                    <tr ng-repeat="c in dataPage.content" class="editable-row">
                        <td>
                            {{((paging.currentPage - 1) * paging.maxSize) + $index + 1}}
                        </td>
                        <td>
                            {{ c.nama}}
                        </td>
                        <td>
                            {{ c.kota}}
                        </td>
                        <td>
                            {{ c.alamat}}
                        </td>
                        <td>
                            {{ c.kontak}}
                        </td>
                        <td>
                            {{ c.telepon}}
                        </td>
                        <td>
                            <div class="buttons" >
                                <button class="btn btn-primary editable-table-button btn-xs" 
                                        data-toggle="modal" ng-click="edit(c, 'app/pages/master/emkl/emkl-modal.html', 'md')">Ubah</button>
                                <button class="btn btn-danger editable-table-button btn-xs" ng-confirm-message="Anda yakin akan menghapus data {{c.nama}}?" ng-confirm="hapus(c)">Hapus</button>
                            </div>
                        </td>
                    </tr>
                </table>
                <div align="center" ng-show="dataPage.totalPages > 1">
                    <ul uib-pagination total-items="paging.totalItems" ng-model="paging.currentPage" max-size="paging.maxSize" class="pagination-sm" boundary-links="true" num-pages="numPages" ng-change="reloadData()" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></ul>
                    <pre>Page: {{paging.currentPage}} / {{paging.maxPage}}</pre>
                </div>
                
            </div>
        </div>
    </div>
</div>
